{{ squad_attributes_ctes }}
SELECT
    m.match_id,
    m.match_date,
    m.competition,
    m.season,
    m.stage,
    m.home_team_id,
    m.away_team_id,
    m.home_team_score,
    m.away_team_score,
    m.neutral_site,
    {{ current_world_cup_flag }} AS is_current_world_cup,
    e.home_rating_before AS home_world_cup_probability_elo_before,
    e.away_rating_before AS away_world_cup_probability_elo_before,
    {{ home_world_football_elo_ratings_expr }} AS home_world_football_elo_ratings,
    {{ away_world_football_elo_ratings_expr }} AS away_world_football_elo_ratings,
    {{ home_fifa_points_expr }} AS home_fifa_world_ranking_points,
    {{ away_fifa_points_expr }} AS away_fifa_world_ranking_points,
    {{ home_fifa_rank_expr }} AS home_fifa_world_ranking_rank,
    {{ away_fifa_rank_expr }} AS away_fifa_world_ranking_rank,
    {{ home_prior_world_cup_appearances_expr }} AS home_prior_world_cup_appearances,
    {{ away_prior_world_cup_appearances_expr }} AS away_prior_world_cup_appearances,
    {{ home_prior_world_cup_points_per_match_expr }} AS home_prior_world_cup_points_per_match,
    {{ away_prior_world_cup_points_per_match_expr }} AS away_prior_world_cup_points_per_match,
    {{ home_prior_world_cup_goal_diff_per_match_expr }}
        AS home_prior_world_cup_goal_diff_per_match,
    {{ away_prior_world_cup_goal_diff_per_match_expr }}
        AS away_prior_world_cup_goal_diff_per_match,
    {{ home_prior_world_cup_yellow_cards_per_match_expr }}
        AS home_prior_world_cup_yellow_cards_per_match,
    {{ away_prior_world_cup_yellow_cards_per_match_expr }}
        AS away_prior_world_cup_yellow_cards_per_match,
    {{ home_prior_world_cup_sending_offs_per_match_expr }}
        AS home_prior_world_cup_sending_offs_per_match,
    {{ away_prior_world_cup_sending_offs_per_match_expr }}
        AS away_prior_world_cup_sending_offs_per_match,
    {{ home_prior_world_cup_fair_play_penalty_per_match_expr }}
        AS home_prior_world_cup_fair_play_penalty_per_match,
    {{ away_prior_world_cup_fair_play_penalty_per_match_expr }}
        AS away_prior_world_cup_fair_play_penalty_per_match,
    {{ home_squad_attribute_selects }}
    {{ away_squad_attribute_selects }}
    COALESCE(ht.market_value_eur, 0.0) AS home_market_value_eur,
    COALESCE(awt.market_value_eur, 0.0) AS away_market_value_eur
FROM f_matches AS m
INNER JOIN f_elo_history AS e
    ON m.match_id = e.match_id
{{ world_football_elo_ratings_joins }}
{{ fifa_world_ranking_joins }}
{{ world_cup_prior_history_joins }}
{{ world_cup_prior_discipline_joins }}
{{ squad_attribute_joins }}
LEFT JOIN d_teams AS ht
    ON m.home_team_id = ht.team_id
LEFT JOIN d_teams AS awt
    ON m.away_team_id = awt.team_id
WHERE
    m.match_date IS NOT NULL
    AND m.home_team_score IS NOT NULL
    AND m.away_team_score IS NOT NULL
    AND {{ current_world_cup_exclusion }}
ORDER BY m.match_date ASC, m.match_id ASC
